
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #loader{
  position: absolute;
  background-position-y: center;
  background-position-x: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  #loader{
  position: absolute;
  background-position-y: center;
  background-position-x: center;
  }


  #SignUp {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }

  #Login {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }

  #loader{
  position: absolute;
  background-position-y: center;
  background-position-x: center;
  }



  #SignUp {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }
  #Login {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


  #loader{
  position: absolute;
  background-position-y: center;
  background-position-x: center;
  }


  #SignUp {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }
  #Login {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;

  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

#loader{
position: absolute;
top: 43%;
left:43%;
}

#SignUp {
  margin: 30px;
  padding: 30px;
  top: 20px;
  background-color: #f8f8f8ea;

}
#Login {
  margin: 30px;
  padding: 30px;
  top: 20px;
  background-color: #f8f8f8ea;

}


}

#footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(5, 16, 54);
   
   text-align: center;
   opacity: 0.5;
   color: black;

}

